.main-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.login-con {
  border-radius: 6px;
  padding: 40px;
  box-shadow: 2px 8px 8px 4px rgba(0, 0, 0, 0.2);
}
.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-img {
  height: 80px;
  width: 80%;
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form {
  padding-top: 10px;
}
.label {
  font-family: roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1e293b;
}
.input {
  font-family: roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1e293b;
  padding: 15px;
  border: 1px solid #475569;
}
.button-login {
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  font-family: roboto;
  font-size: 20px;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  margin-top: 10px;
}
.error {
  font-family: roboto;
  font-size: 18px;
  font-weight: 300;
  color: #ff0000;
}
